.footer-bg {
  background: var(--cor-12);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 60px;
  align-items: center;
  /*  background: var(--cor-0); */
  background: url("../../img/icons/ico-detalhe/code-fechar-c11.svg") no-repeat
    bottom 40px right 40px;
}

.footer-img {
  padding-top: 32px;
  text-align: center;
}

.footer-img h2 {
  color: var(--cor-7);
  grid-column: 1/-1;
  margin-bottom: -35px;
}

.footer-img h2 > span {
  color: var(--cor-p2);
}

.footer-img img {
  width: 520px;
}

.footer-lista {
  display: flex;
  justify-content: center;
}

.footer-lista ul {
  padding: 32px;
  border-left: 2px solid var(--cor-11);
}

.footer-lista span {
  display: inline-block;
}

.footer-lista li {
  text-align: left;
  margin-bottom: 20px;
  max-width: max-content;
  color: var(--cor-6);
  font-family: "Fira Code";
}

.footer-lista li:hover {
  color: var(--cor-0);
}

.footer-lista a {
  display: flex;
  align-items: center;
}

.footer-lista img {
  width: 25px;
  height: auto;
  margin-right: 12px;
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    padding-top: 32px;
    padding-bottom: 16px;
    gap: 0px;
    /* background-position: bottom 20px right 40px;
    background-size: 50px; */
  }
  .footer-img {
    display: none;
  }
  .footer-lista ul {
    border: none;
    padding: 0px;
  }
  .footer-lista li {
    margin-bottom: 18px;
  }
  .footer-lista img {
    width: 18px;
    margin-right: 12px;
    height: auto;
  }
}
