.formacao-bg {
  background-color: var(--cor-11);
}

.formacao-bg h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  padding-top: 60px;
  color: var(--cor-3);
}

.formacao {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  padding: 20px 60px 60px 60px;
  margin-bottom: 60px;
}

.formacao-conteudo ul {
  padding: 12px;
}

.formacao-conteudo li {
  color: var(--cor-5);
  max-width: 15ch;
  padding: 8px;
  position: relative;
}

/* .formacao-conteudo li:nth-child(1)::before {
  content: "";
  width: 8px;
  height: 2px;
  position: absolute;
  display: block;
  background-color: var(--cor-p1);
  bottom: 1px;
  left: -5px;
} */

.formacao-conteudo li:last-child {
  font-family: "Source Code Pro";
  font-weight: 700;
  color: var(--cor-8);
}

.formacao-conteudo h3 {
  color: var(--cor-2);
}

@media (max-width: 800px) {
  .formacao-bg {
    margin-top: -5px;
  }
  .formacao {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .formacao-conteudo ul {
    padding: 8px;
    margin-bottom: 8px;
  }
}
.formacao-conteudo li {
  max-width: 18ch;
  padding: 4px;
}

@media (max-width: 400px) {
  .formacao {
    padding: 8px;
    gap: 12px;
  }
}
