.projetos-bg {
  background-color: var(--cor-11);
}

.projetos {
  padding: 64px;
}

.projetos h2 {
  margin-bottom: 32px;
  text-align: center;
  color: var(--cor-3);
}

.projetos p {
  color: var(--cor-5);
  margin: auto;
  margin-bottom: 32px;
  max-width: 60ch;
}

#projeto-cordel,
#projeto-bikcraft,
#projeto-animais {
  margin: 0 200px 60px 200px;
  background: var(--cor-12);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  padding: 16px;
  /* display: none; */
}


.btn-ui {
  color: var(--cor-2);
  border: 2px solid var(--cor-10);
  padding: 12px 16px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 600 1.25rem/1.35 "Anonymous Pro", sans-serif;
}

.btn-ui:hover{
  background: var(--cor-11);
  color: var(--cor-0);
}

.botao-projeto {
  text-align: end;
  padding-right: 82px;
}

.botao-projeto a:last-child {
  margin-left: 32px;
}

.projetos a {
  margin: 0 auto;
}

.projetos-lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 64px;
  margin-top: 32px;
}

.projetos-lista h3, .projetos h3 {
  color: var(--cor-1);
  margin: 0 auto;
  padding: 24px 0px 12px 0px;
  font: 600 1.4rem/1.35 "roboto", sans-serif;
  position: relative;
  width: max-content;
}

.projetos h3::before{
  content: '';
  position: absolute;
  width: 12px;
  height: 6px;
  background: var(--cor-p1);
 left: -22px;
 top: 36px;
  
}

.projetos-lista img {
  max-width: 80%;
  border-radius: 50%;
  filter: grayscale(100%);
  margin: auto;
  border: 2px solid var(--cor-11);
  transition: border 0.3s ease;
  cursor: pointer;
}

.projetos-lista img:hover {
  filter: grayscale(0%);
  border: 2px solid var(--cor-p1);
  box-shadow: 0 0 3px 1px var(--cor-p3);
}

.tela-menor {
  display: none;
}

.descricao  > div {
  display: none;
}

.descricao > div.ativo {
  display: block ;
}

.projetos-lista li.ativo > img {
  filter: grayscale(0%);
  border: 2px solid var(--cor-p1);
  box-shadow: 0 0 3px 1px var(--cor-p3);
}

@media (max-width: 1020px) {
#projeto-cordel,
#projeto-bikcraft,
#projeto-animais {
  margin: 0 80px 60px 80px;
  padding: 32px;
}
.tela-maior {
  display: none;
}

@media (max-width: 800px) {
  .projetos {
    padding: 32px;
  }
  .projetos-lista {
    grid-template-columns: 1fr;
    gap: 8px;
    margin-bottom: 0px;
  }
  .projetos-lista li {
    padding: 24px 18px 24px 18px;
    margin-bottom: 18px;
    background: var(--cor-12);
    color: var(--cor-6);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  }
  .projetos-lista img {
    border-radius: 100%;
    width: 200px;
    margin: auto;
    border: none;
    pointer-events: none;
  }
  .projetos-lista p {
    display: block;
    margin-bottom: 8px;
  }
  .botao-projeto {
    text-align: center;
    padding: 22px;
  }
  .botao-projeto a {
    padding: 8px 12px;
    font-size: 1.3rem;
  }
  .botao-projeto a:last-child {
    margin-left: 12px;
  }
  .btn-ui {
    font: 600 1rem;
  }
  .tela-menor {
    display: block;
  }
}
